dsl/__________591c8656-39bc-40f7-bcf1-81bd808b83f5_2026-02-05T07-23-26-197Z.yml
app:
  description: 入力文章の語尾にびっくりマークを付けて返します
  icon: ❗
  icon_background: '#FF4D4F'
  mode: advanced-chat
  name: びっくりマーク付与
kind: app
version: 0.1.5
workflow:
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
    speech_to_text:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: start-code_append_exclamation
      source: start
      sourceHandle: source
      target: code_append_exclamation
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: code_append_exclamation-answer
      source: code_append_exclamation
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: 文章
          max_length: 5000
          required: true
          type: paragraph
          variable: text
      height: 98
      id: start
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import re

          END_PUNCT = ("!", "！", "?", "？")

          def _process_line(line: str) -> str:
              # 右側の空白を一旦除去して判定し、必要なら付与
              stripped = line.rstrip()
              if stripped == "":
                  return line  # 空行はそのまま
              if stripped.endswith(END_PUNCT):
                  return stripped
              return stripped + "!"

          def main(text: str) -> dict:
              # 改行は維持しつつ、行ごとに処理
              lines = text.splitlines()
              processed = [_process_line(line) for line in lines]
              # 元が末尾改行を含む場合は保持
              trailing_newline = "\n" if text.endswith("\n") else ""
              return {"output_text": "\n".join(processed) + trailing_newline}
        code_language: python3
        desc: 文末が !/！/?/？ でなければ ! を付与します（改行は維持）
        outputs:
          output_text:
            children: null
            type: string
        selected: false
        title: びっくりマーク付与（Code）
        type: code
        variables:
        - value_selector:
          - start
          - text
          variable: text
      height: 210
      id: code_append_exclamation
      position:
        x: 330
        y: 300
      positionAbsolute:
        x: 330
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 360
    - data:
        answer: '{{#code_append_exclamation.output_text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
      height: 107
      id: answer
      position:
        x: 750
        y: 300
      positionAbsolute:
        x: 750
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244