dsl/❌_________3102f210-d12a-4b4f-92ec-dd34ca8c66f4_2026-02-05T07-03-49-565Z.yml
app:
  description: 入力文を自然な標準語に変換します
  icon: "\U0001F5E3\uFE0F"
  icon_background: '#3B82F6'
  mode: advanced-chat
  name: 関西弁→標準語 変換
kind: app
version: 0.1.5
workflow:
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-llm_kansai_to_standard
      source: start
      sourceHandle: source
      target: llm_kansai_to_standard
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm_kansai_to_standard-answer
      source: llm_kansai_to_standard
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 関西弁テキストを入力
        selected: false
        title: Start
        type: start
        variables: []
      height: 90
      id: start
      position:
        x: 0
        y: 0
      positionAbsolute:
        x: 0
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 240
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 関西弁を自然な標準語に変換
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 1024
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: system
          role: system
          text: |
            あなたは日本語の言い換えアシスタントです。
            ユーザーの入力を「自然な標準語（口語）」に変換してください。

            ルール:
            - 意味は変えない（情報の追加・削除をしない）
            - できるだけ自然な口語の標準語にする（過度に堅くしない）
            - 丁寧さ（敬語/タメ口）は入力のトーンを維持する
            - 固有名詞・数値・日時・URL・記号はできるだけ保持する
            - 出力は「変換後の文章のみ」。解説や前置きは不要
        - id: user
          role: user
          text: |
            次の文章を標準語に直して:

            {{#sys.query#}}
        selected: false
        title: 関西弁→標準語（変換）
        type: llm
      height: 210
      id: llm_kansai_to_standard
      position:
        x: 320
        y: 0
      positionAbsolute:
        x: 320
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 360
    - data:
        desc: 変換結果を表示
        selected: false
        text: '{{#llm_kansai_to_standard.text#}}'
        title: Answer
        type: answer
      height: 120
      id: answer
      position:
        x: 740
        y: 0
      positionAbsolute:
        x: 740
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 240
  environment_variables: []